---
export interface Props {
    org: string;
    repo: string;
}

const { org, repo } = Astro.props as Props;

const shieldsUrl = `https://img.shields.io/github/stars/${org}/${repo}?style=for-the-badge&logo=github`;
const repoUrl = `https://github.com/${org}/${repo}`;
---
<a href={repoUrl} target="_blank" rel="noopener noreferrer"><img src={shieldsUrl} alt={`GitHub stars for ${org}/${repo}`} /></a>
