---
export interface Props {
  name: string;
  label?: string;
  badgeType?: 'dt' | 'vpre' | 'v';
}

const { name, label, badgeType } = Astro.props as Props;

let type = badgeType || 'vpre';
let imgUrl: string = `https://img.shields.io/nuget/${type}/${name}?style=for-the-badge`;
if (label !== undefined)
    imgUrl += `&label=${label}`;
const nugetUrl: string = `https://www.nuget.org/packages/${name}`;
---
<a href={nugetUrl} target="_NEWWINDOW"><img src={imgUrl} /></a>