---
export interface Props {
    name: string;
    showPreviewVersion?: boolean;
}

const { name, showPreviewVersion } = Astro.props as Props;
let imgUrl: string = `https://img.shields.io/nuget/`;
imgUrl += showPreviewVersion === true ? 'vpre' : 'v';
imgUrl += `/${name}?label=${name}&style=for-the-badge`;

const nugetUrl: string = `https://www.nuget.org/packages/${name}`;
---
<a href={nugetUrl} target="_NEWWINDOW"><img src={imgUrl} /></a>