---
export interface Props {
    name: string;
}

const { name } = Astro.props as Props;

const shieldsUrl = `https://img.shields.io/nuget/dt/${name}?style=for-the-badge&logo=nuget`;
const nugetUrl = `https://www.nuget.org/packages/${name}`;
---
<a href={nugetUrl} target="_blank" rel="noopener noreferrer"><img src={shieldsUrl} alt={`NuGet downloads for ${name}`} /></a>
