---
import { propsToFilename } from 'astro/assets/utils';

export interface Props {
    name: string;
    showLabel?: boolean;
    showPreviewVersion?: boolean;
}

const { name, showPreviewVersion, showLabel } = Astro.props as Props;

const v = showPreviewVersion === true ? 'vpre' : 'v';
let imgUrl: string = `https://img.shields.io/nuget/${v}/${name}?style=for-the-badge?style=for-the-badge`;
if (showLabel === true) {
    imgUrl += `&label=${name}`;
}
const nugetUrl: string = `https://www.nuget.org/packages/${name}`;
---
<a href={nugetUrl} target="_NEWWINDOW"><img src={imgUrl} /></a>