---
type Framework = 'dotnet' | 'maui' | 'blazor' | 'aspnet';
type OperatingSystem = 'android' | 'ios' | 'windows' | 'linux' | 'macos' | 'web';

export interface Props {
    frameworks?: Framework[];
    os?: OperatingSystem[];
}

const { frameworks = [], os = [] } = Astro.props as Props;

const frameworkData: Record<string, { name: string; label: string; viewBox: string }> = {
    dotnet: { name: 'dotnet', label: '.NET', viewBox: '0 0 24 24' },
    maui: { name: 'maui', label: '.NET MAUI', viewBox: '0 0 24 24' },
    blazor: { name: 'blazor', label: 'Blazor', viewBox: '0 0 24 24' },
    aspnet: { name: 'aspnet', label: 'ASP.NET', viewBox: '0 0 24 24' },
};

const osData: Record<string, { name: string; label: string; viewBox: string }> = {
    android: { name: 'android', label: 'Android', viewBox: '0 0 24 24' },
    ios: { name: 'ios', label: 'iOS', viewBox: '0 0 24 24' },
    windows: { name: 'windows', label: 'Windows', viewBox: '0 0 24 24' },
    linux: { name: 'linux', label: 'Linux', viewBox: '0 0 24 24' },
    macos: { name: 'macos', label: 'macOS', viewBox: '0 0 24 24' },
    web: { name: 'web', label: 'Web', viewBox: '0 0 24 24' },
};

---
<div class="platform-support-container not-content">
    {frameworks.length > 0 && (
        <div class="platform-support-row">
            <span class="platform-support__heading">Frameworks</span>
            <div class="platform-support">
                {frameworks.map((p) => {
                    const info = frameworkData[p];
                    return info ? (
                        <div class={`platform-support__item platform-support__item--${info.name}`}>
                            <svg class="platform-support__icon" viewBox={info.viewBox} xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                {p === 'dotnet' && (
                                    <path d="M24 8.77h-2.468v7.565h-1.425V8.77h-2.462V7.53H24zm-6.852 7.565h-4.821V7.53h4.63v1.24h-3.205v2.494h2.953v1.234h-2.953v2.604h3.396zm-6.708 0H8.882L4.78 9.863a2.896 2.896 0 0 1-.258-.51h-.036c.032.189.048.592.048 1.21v5.772H3.2V7.53h1.7l3.86 6.015c.128.196.21.34.258.43h.024a8.652 8.652 0 0 1-.048-1.296V7.53h1.446zm-7.173.58a1.478 1.478 0 0 1-1.07-.432 1.478 1.478 0 0 1-.432-1.07c0-.42.144-.773.432-1.058a1.478 1.478 0 0 1 1.07-.432c.42 0 .773.144 1.058.432.286.285.428.637.428 1.058 0 .42-.142.773-.428 1.07a1.438 1.438 0 0 1-1.058.432z" />
                                )}
                                {p === 'maui' && (
                                    <path d="M11.5 2a9.5 9.5 0 1 0 0 19 9.5 9.5 0 0 0 0-19zM2 11.5C2 6.253 6.253 2 11.5 2S21 6.253 21 11.5c0 2.047-.648 3.94-1.75 5.49L7.01 4.75A9.454 9.454 0 0 1 11.5 3.5a8 8 0 1 1 0 16 8 8 0 0 1-5.49-2.19l1.06-1.06A6.47 6.47 0 0 0 11.5 18a6.5 6.5 0 0 0 0-13c-1.36 0-2.62.42-3.66 1.13L14 12.29V9h1.5v5.5H10V13h3.29L7.13 6.84A6.47 6.47 0 0 0 5 11.5c0 1.7.65 3.24 1.72 4.4l-1.06 1.06A7.96 7.96 0 0 1 3.5 11.5c0-1.93.69-3.7 1.83-5.08l12.25 12.25A9.454 9.454 0 0 1 11.5 21C6.253 21 2 16.747 2 11.5z" />
                                )}
                                {p === 'blazor' && (
                                    <path d="M23.834 8.101A13.912 13.912 0 0 1 10.191 19.82a10.105 10.105 0 0 1-1.994-.12 6.111 6.111 0 0 1-5.082-5.761 5.934 5.934 0 0 1 11.867-.084c.025.983-.401 1.846-1.277 1.871-.936 0-1.374-.668-1.374-1.567v-2.5a1.531 1.531 0 0 0-1.52-1.533H8.715a3.648 3.648 0 1 0 2.695 6.08l.073-.084.02.004c.15.222.337.419.554.579a2.029 2.029 0 0 0 2.435-.117 2.978 2.978 0 0 0 .756-2.834v-.084a4.461 4.461 0 0 0-8.92.238 4.84 4.84 0 0 0 3.684 4.738 8.587 8.587 0 0 0 2.667.12 12.09 12.09 0 0 0 11.857-9.862c.065-.502.089-1.01.074-1.516A10.053 10.053 0 0 0 13.8 0a14.01 14.01 0 0 0-13.8 14.01 14.01 14.01 0 0 0 23.834-5.909zM8.883 11.775a2.09 2.09 0 1 0 0 4.18 2.09 2.09 0 0 0 0-4.18z" />
                                )}
                                {p === 'aspnet' && (
                                    <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 17.93c-3.95-.49-7-3.85-7-7.93 0-.62.08-1.21.21-1.79L9 15v1c0 1.1.9 2 2 2v1.93zm6.9-2.54c-.26-.81-1-1.39-1.9-1.39h-1v-3c0-.55-.45-1-1-1H8v-2h2c.55 0 1-.45 1-1V7h2c1.1 0 2-.9 2-2v-.41c2.93 1.19 5 4.06 5 7.41 0 2.08-.8 3.97-2.1 5.39z" />
                                )}
                            </svg>
                            <span class="platform-support__label">{info.label}</span>
                        </div>
                    ) : null;
                })}
            </div>
        </div>
    )}
    {os.length > 0 && (
        <div class="platform-support-row">
            <span class="platform-support__heading">Operating Systems</span>
            <div class="platform-support">
                {os.map((p) => {
                    const info = osData[p];
                    return info ? (
                        <div class={`platform-support__item platform-support__item--${info.name}`}>
                            <svg class="platform-support__icon" viewBox={info.viewBox} xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                {p === 'android' && (
                                    <path d="M17.523 15.341a1 1 0 0 0 1-1v-5.4a1 1 0 0 0-2 0v5.4a1 1 0 0 0 1 1zm-11.046 0a1 1 0 0 0 1-1v-5.4a1 1 0 0 0-2 0v5.4a1 1 0 0 0 1 1zm8.274 5.098l1.293 1.293a.5.5 0 0 1-.707.707l-1.431-1.431A5.247 5.247 0 0 1 12 21.5a5.247 5.247 0 0 1-1.906-.492l-1.431 1.431a.5.5 0 0 1-.707-.707l1.293-1.293A4.978 4.978 0 0 1 7.477 16.5v-7.5h9.046v7.5a4.978 4.978 0 0 1-1.772 3.939zM7.477 8h9.046A4.5 4.5 0 0 0 12 4.5 4.5 4.5 0 0 0 7.477 8zm5.523-5a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5zm-2 0a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5z" />
                                )}
                                {p === 'ios' && (
                                    <path d="M18.71 19.5c-.83 1.24-1.71 2.45-3.05 2.47-1.34.03-1.77-.79-3.29-.79-1.53 0-2 .77-3.27.82-1.31.05-2.3-1.32-3.14-2.53C4.25 17 2.94 12.45 4.7 9.39c.87-1.52 2.43-2.48 4.12-2.51 1.28-.02 2.5.87 3.29.87.78 0 2.26-1.07 3.8-.91.65.03 2.47.26 3.64 1.98-.09.06-2.17 1.28-2.15 3.81.03 3.02 2.65 4.03 2.68 4.04-.03.07-.42 1.44-1.38 2.83M13 3.5c.73-.83 1.94-1.46 2.94-1.5.13 1.17-.34 2.35-1.04 3.19-.69.85-1.83 1.51-2.95 1.42-.15-1.15.41-2.35 1.05-3.11z" />
                                )}
                                {p === 'windows' && (
                                    <path d="M0 3.449L9.75 2.1v9.451H0m10.949-9.602L24 0v11.4H10.949M0 12.6h9.75v9.451L0 20.699M10.949 12.6H24V24l-12.9-1.801" />
                                )}
                                {p === 'linux' && (
                                    <path d="M12.503 18.563c-.326 0-.398-.078-.436-.117-.14-.143-.186-.357-.186-.49 0-.086.013-.124.014-.127l.01-.027.007-.029c.084-.353.168-.637.36-.883.183-.233.449-.42.857-.642l.072-.037c.082-.04.166-.083.256-.131.098-.052.2-.108.31-.175.347-.21.796-.566.796-1.065 0-.112-.026-.216-.076-.31a.556.556 0 0 0-.462-.293c-.297 0-.568.267-.644.36l-.03.032-.033.028c-.153.131-.385.328-.645.328a.393.393 0 0 1-.283-.12c-.13-.138-.146-.317-.146-.384 0-.36.297-.686.578-.91.305-.242.693-.396 1.063-.421l.072-.002c.574 0 1.06.287 1.303.768.122.241.184.507.184.792 0 .424-.14.83-.418 1.208-.272.37-.66.679-1.155.918l-.081.04c-.076.038-.15.074-.225.113a3.058 3.058 0 0 0-.566.358c-.131.113-.178.207-.208.352a.84.84 0 0 1-.024.096c-.012.108-.036.323-.15.44a.38.38 0 0 1-.278.124zM12.48 20.5a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5zM20.833 21.166H3.167a.667.667 0 0 1-.577-1l8.833-15.3a.667.667 0 0 1 1.154 0l8.833 15.3a.667.667 0 0 1-.577 1z" />
                                )}
                                {p === 'macos' && (
                                    <path d="M18.71 19.5c-.83 1.24-1.71 2.45-3.05 2.47-1.34.03-1.77-.79-3.29-.79-1.53 0-2 .77-3.27.82-1.31.05-2.3-1.32-3.14-2.53C4.25 17 2.94 12.45 4.7 9.39c.87-1.52 2.43-2.48 4.12-2.51 1.28-.02 2.5.87 3.29.87.78 0 2.26-1.07 3.8-.91.65.03 2.47.26 3.64 1.98-.09.06-2.17 1.28-2.15 3.81.03 3.02 2.65 4.03 2.68 4.04-.03.07-.42 1.44-1.38 2.83M13 3.5c.73-.83 1.94-1.46 2.94-1.5.13 1.17-.34 2.35-1.04 3.19-.69.85-1.83 1.51-2.95 1.42-.15-1.15.41-2.35 1.05-3.11z" />
                                )}
                                {p === 'web' && (
                                    <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm6.93 6h-2.95a15.65 15.65 0 0 0-1.38-3.56A8.03 8.03 0 0 1 18.93 8zM12 4.04c.83 1.2 1.48 2.53 1.91 3.96h-3.82c.43-1.43 1.08-2.76 1.91-3.96zM4.26 14C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2 0 .68.06 1.34.14 2H4.26zm.82 2h2.95c.32 1.25.78 2.45 1.38 3.56A7.987 7.987 0 0 1 5.08 16zm2.95-8H5.08a7.987 7.987 0 0 1 4.33-3.56A15.65 15.65 0 0 0 8.03 8zM12 19.96c-.83-1.2-1.48-2.53-1.91-3.96h3.82c-.43 1.43-1.08 2.76-1.91 3.96zM14.34 14H9.66c-.09-.66-.16-1.32-.16-2 0-.68.07-1.35.16-2h4.68c.09.65.16 1.32.16 2 0 .68-.07 1.34-.16 2zm.25 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95a8.03 8.03 0 0 1-4.33 3.56zM16.36 14c.08-.66.14-1.32.14-2 0-.68-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2h-3.38z" />
                                )}
                            </svg>
                            <span class="platform-support__label">{info.label}</span>
                        </div>
                    ) : null;
                })}
            </div>
        </div>
    )}
</div>
